.navbarContainer{


    text-decoration: none;
    box-shadow: none;
    color: white;
    text-align: center;


}

.style{

    background: '#2E3B55' 

}

.navbarUserContainer{

    text-decoration: none;
    box-shadow: none;
    color: white;
    text-align: right;


}